/* Alerts.css */

.alerts-container {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}

.success {
  background-color: #4caf50;
  color: #fff;
}

.error {
  background-color: #f44336;
  color: #fff;
}
